<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8"/>
        <link rel="icon" href="static/favicon.ico"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="theme-color" content="#000000"/>
        <title itemprop="name">Sotom IDE</title>
        <link rel="apple-touch-icon" href="/logo192.png"/>
        <link rel="manifest" href="static/manifest.json"/>
        <script defer="defer" src="static/js/main.6f14e4ef.js"></script>
        <link href="static/css/main.537dd2c4.css" rel="stylesheet">
    </head>
    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div id="root"></div>
    </body>
</html>
